<p>
 <%= link_to 'Pt-Br', root_path(locale: 'pt-BR') %>
 </p>
 <p>
 <%= link_to 'En', root_path(locale: 'en') %>
 </p>


<h1><%= t('welcome') %> </h1>
<p><%= t('welcome_message') %></p>


<p><%= t('options') %> </p>
<%= render "menu" %>


